[user]
	name = Tomáš Režňák
	email = tomas.reznak@volny.cz
	signingkey = ~/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[commit]
  gpgSign = true
[pull]
  rebase = true
[push]
	autoSetupRemote = true
[diff "lockb"]
	textconv = bun
	binary = true
[init]
  defaultBranch = main
