* {
    font-family: "Ubuntu Nerd Font";
    font-size: 12px;
    border-radius: 6px;
    padding: 1px 0;
    margin: 0 3px;
    transition: all 0.3s ease;
}

window#waybar {
    background: transparent;
    color: #ECEFF4;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}

#workspaces button {
    background-color: transparent;
    color: #81A1C1;
    padding: 4px 8px;
    border: 2px solid transparent;
    font-weight: bold;
    transition: color 0.3s, border-bottom 0.3s;
}

#workspaces button.focused {
    color: #A3BE8C;
    border-bottom: 2px solid #A3BE8C;
}

#workspaces button:hover {
    color: #88C0D0;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #mpris, #tray, #mode {
    background-color: rgba(46, 52, 64, 0.8);
    color: #D8DEE9;
    border-radius: 6px;
    padding: 6px 10px;
    margin: 0 6px;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.3);
}

#clock {
    font-weight: bold;
    background-color: #4C566A;
    color: #EBCB8B;
}

#cpu, #memory {
    background-color: #5E81AC;
    color: #ECEFF4;
}

#cpu:hover, #memory:hover {
    background-color: #88C0D0;
    color: #2E3440;
}

#battery.charging {
    background-color: #A3BE8C;
    color: #2E3440;
}

#battery.discharging.critical {
    background-color: #FF0000;
}

#network.disconnected {
    background-color: #BF616A;
    color: #ECEFF4;
    font-weight: bold;
}

#pulseaudio {
    background-color: #B48EAD;
    color: #ECEFF4;
}

#pulseaudio:hover {
    background-color: #D08770;
    color: #2E3440;
}

#mpris {
    background-color: #282E3A;
}

#mpris:hover {
  opacity: 0.8;
}

#mpris.firefox {
    background-color: #FF7731;
}

#mpris.spotify, #mpris.spotifyd, #mpris.spotify_player {
    background-color: #18C16A;
    color: black;
}

#mpris.chromium {
    background-color: #588DE2;
}

#mpris.vlc {
    background-color: #EB7000;
}

#mpris.mpv {
    background-color: #400041;
}

#tray {
    background-color: rgba(46, 52, 64, 0.8);
    padding: 4px 6px;
    border-radius: 6px;
}

#tray .icon:hover {
    color: #88C0D0;
}

#custom-xwayland {
  font-size: 16px;
}
